/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Start of custom CSS code */
@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(https://fonts.gstatic.com/s/firasans/v10/va9E4kDNxMZdWfMOD5Vvl4jO.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
body {
  font-size: 62.5%;
  font-family: Arial;
  color: black;
}
.resume_container {
  width: 80vw;
  margin: 0px auto;
}
header {
  display: flex;
  justify-content: flex-end;
}
header nav {
  font-family: Montserrat, Verdana;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 500px) {
  header nav {
    justify-content: space-between;
  }
}
header nav a {
  display: inline-block;
  line-height: 3em;
  color: black;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  padding: 0px 2%;
}
@media (max-width: 500px) {
  header nav a {
    width: 25%;
    font-size: 0.8rem;
  }
}
header nav a:hover,
header nav a:active {
  background-color: #f2f2f2;
}
section {
  margin: 20px auto;
  font-size: 1rem;
}
.intro {
  background-color: #e9ecef;
  padding: 5%;
}
.intro img {
  width: 33%;
}
@media (max-width: 500px) {
  .intro {
    text-align: center;
  }
  .intro .bio {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.intro h1 {
  font-family: Montserrat, Verdana;
  font-size: 1.8rem;
  margin: 2% auto;
}
@media (max-width: 500px) {
  .intro h1 {
    font-size: 1.2rem;
  }
}
.intro h2 {
  font-family: 'Fira Sans', Arial;
  font-size: 1rem;
}
.intro hr {
  width: 100%;
  color: #e9ecef;
  margin: 4% auto;
}
.intro p {
  margin-bottom: 2%;
}
.intro a {
  display: inline-block;
  border-radius: 2px;
  padding: 2%;
  color: #e9ecef;
  background-color: #808080;
  font-weight: bold;
  text-decoration: none;
}
.intro a:hover,
.intro a:active {
  color: #808080;
  background-color: #f2f2f2;
}
.middle_content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .middle_content {
    flex-wrap: wrap;
  }
}
.middle_content div {
  width: 48%;
}
@media (max-width: 500px) {
  .middle_content div {
    width: 100%;
    margin: 2% auto;
  }
}
.middle_content .pitch h2 {
  font-family: Montserrat, Verdana;
  font-size: 2rem;
  margin: 4% 0 ;
}
.middle_content .pitch p {
  line-height: 1.5em;
}
.middle_content .skills h2 {
  font-family: Montserrat, Verdana;
  font-size: 2rem;
  margin: 4% 0 ;
}
.middle_content .skills ul {
  list-style-type: none;
}
.middle_content .skills li {
  border: 1px solid #e9ecef;
  line-height: 2.5em;
  padding-left: 5%;
}
.history h2 {
  font-family: Montserrat, Verdana;
  font-size: 2rem;
  margin: 4% 0 ;
}
.history table {
  width: 100%;
  line-height: 3em;
}
.history table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.history table th {
  font-weight: bold;
  border-top: 1px solid #e9ecef;
  border-bottom: 1px solid #e9ecef;
  text-align: left;
}
.history table th,
.history table td {
  padding-left: 2%;
}
.history table .year {
  font-weight: bold;
}
.contact address p {
  margin: 2%;
  line-height: 1.25em;
}
footer {
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #808080;
}
footer p {
  text-align: center;
  color: #e9ecef;
}
